*Author/s:*
**Gian Kyle Go Masinda**

Course code and section:  DATA100 - S17

Student ID: 12186228

College: GCOE

# Zomato Exercise

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

In [60]:
import pandas as pd
import numpy as np

1. Merge the zomato, location & ratings file into a single dataframe and store it to the `merged_df` variable **(3pts)**

In [61]:
# Load the data
zomato_df = pd.read_csv('zomato.csv')
location_df = pd.read_csv('location.csv')
ratings_df = pd.read_csv('ratings.csv')

# Merge the data
merged_df = pd.merge(zomato_df, location_df, on='id')
merged_df = pd.merge(merged_df, ratings_df, on='id')

In [62]:
assert (6830, 35)==merged_df.shape

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']

assert sorted(merged_df.columns) == sorted(cols)

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [63]:
def exercise_2(merged_df):
    # Group by city and calculate the mean of aggregate rating
    avg_rating_series = merged_df.groupby('city')['aggregate_rating'].mean()
    return avg_rating_series

    raise NotImplementedError

In [64]:
res_series = exercise_2(merged_df)
assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [65]:
def convert_rating_text_to_numeric(rating_text):
    # Define a dictionary to map rating_text to numberic values
    rating_dict = {
        'Not rated': 0,
        'Poor': 1,
        'Average': 2,
        'Good': 3,
        'Very Good': 4,
        'Excellent': 5
    }
    # Return the numeric value corresponding to the rating_text
    return rating_dict.get(rating_text, 0)

# Apply the function to the rating_text column and create a new column called rating_numeric
merged_df['rating_numeric'] = merged_df['rating_text'].apply(convert_rating_text_to_numeric)

In [66]:
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [67]:
def exercise_4(merged_df, city):
    # Filter the DataFrame to only include the rows where the city is equal to the input city
    filtered_df = merged_df.loc[merged_df['city'] == city]
    return filtered_df

    raise NotImplementedError

In [68]:

assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [69]:
def exercise_5(merged_df, cols_to_filter):
    # Filter the DataFrame to only include the columns you want to keep
    filtered_df = merged_df[cols_to_filter]
    return filtered_df

    raise NotImplementedError

In [70]:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

In [71]:
# Find the most common restaurant name
most_common_name = merged_df['name'].value_counts().idxmax()
number_of_most_common_name = merged_df['name'].value_counts().max()

#Display the result
print(f"The most common restaurant name is {most_common_name} and appears {number_of_most_common_name} times.")

The most common restaurant name is Starbucks and appears 99 times.

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

In [72]:
# Find the restaurant with the most expensive average cost for two
most_expensive_restaurant = merged_df.loc[merged_df['average_cost_for_two'].idxmax()]

# Extract the restaurant name and average cost for two from the most expensive restaurant
most_expensive_restaurant_name = most_expensive_restaurant['name']
most_expensive_average_cost_for_two = most_expensive_restaurant['average_cost_for_two']

# Display the restaurant name and average cost for two
print(f"The most expensive restaurant is {most_expensive_restaurant_name} with an average cost for two of ₱{most_expensive_average_cost_for_two}.")

The most expensive restaurant is The Tasting Room with an average cost for two of ₱10000.

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

In [73]:
# Count the number of restaurants without a zip code
num_restaurants_without_zipcode = merged_df['zipcode'].isna().sum()

# Display the number of restaurants without a zip code
print(f'There are {num_restaurants_without_zipcode} restaurants without a zip code.')

There are 6713 restaurants without a zip code.

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer.

In [74]:
# Count the number of restaurants that allow online delivery
num_restaurants_with_online_delivery = merged_df['has_online_delivery'].sum()

# Display the result
print(f"The number of restaurants that allow online delivery is: {num_restaurants_with_online_delivery}")

The number of restaurants that allow online delivery is: 0

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.

In [75]:
# Find out the locality with the most expensive food
filtered_df = merged_df[merged_df['locality'].isin(['Poblacion', 'Salcedo Village'])]

# Calculate the average cost for two for each locality
average_cost_by_locality = filtered_df.groupby('locality')['average_cost_for_two'].mean()

# Determine which locality has the higher average cost
locality_with_highest_average_cost = average_cost_by_locality.idxmax()

# Print the locality with the more expensive food
print(f"The locality with the more expensive food is {locality_with_highest_average_cost}.")

The locality with the more expensive food is Salcedo Village.

# References
1. (n.d.). Pandas Documentation — Pandas 2.2.3 Documentation. https://pandas.pydata.org/docs/index.html
2. (n.d.). NumPy Documentation. https://numpy.org/doc/